!*.yaml
!.gitignore
!*.md
!*.sh
!*.js

!packages/

custom_components/
image/
secrets.yaml

.ssh
.storage
.cloud
.google.token
*.log
*.log.txt
home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db*
id_ed*

home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
home-assistant.log.1
